@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
h1 {
  @apply font-Bellefair text-white text-heading1;
}
h2 {
  @apply font-Bellefair text-white text-heading2;
}
h3 {
  @apply font-Bellefair text-white text-heading3;
}
h4 {
  @apply font-Bellefair text-white text-heading4;
}
h5 {
  @apply font-Barlow text-white text-heading5 tracking-[4.75px];
}
.subHeading1 {
  @apply font-Bellefair text-white text-heading1;
}
.subHeading2 {
  @apply font-Barlow text-white text-subheading2 tracking-[2.35px];
}
.navText {
  @apply font-Barlow text-white text-navtext tracking-[2.7px];
}
.regularText {
  @apply font-Barlow text-white text-[0.938rem];
}
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}
.Home__background-mobile {
  background-image: url('/assets/home/background-home-mobile.jpg');
}
.glass {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.explore-effect {
  content: "";
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  transition: height .5s, width .5s;
}
.explore:hover + .explore-effect {
  height: 15.625rem;
  width: 15.625rem;
}
