@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
h1 {
  @apply font-Bellefair text-white text-[5rem] md:text-heading1;
}
h2 {
  @apply font-Bellefair text-white text-heading2;
}
h3 {
  @apply font-Bellefair text-white text-heading3;
}
h4 {
  @apply font-Bellefair text-white text-heading4;
}
h5 {
  @apply font-Barlow text-white text-heading5 tracking-[0.297rem];
}
.subHeading1 {
  @apply font-Bellefair text-white text-subheading1;
}
.subHeading2 {
  @apply font-Barlow text-white text-subheading2 tracking-[0.147rem];
}
.navText {
  @apply font-Barlow text-white text-navtext tracking-[0.169rem];
}
.regularText {
  @apply font-Barlow text-lightBlue text-[0.938rem] leading-[1.563rem] xl:text-[1.125rem] md:text-[1rem] md:leading-[1.75rem] xl:leading-8;
}
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}
.Home__background {
  background-image: url('/assets/home/background-home-mobile.jpg');
}
.Destination__background-mobile {
  background-image: url('/assets/destination/background-destination-mobile.jpg');
}
.Crew__background-mobile {
  background-image: url('/assets/crew/background-crew-mobile.jpg');
}
.Technology__background-mobile {
  background-image: url('/assets/technology/background-technology-mobile.jpg');
}
.glass {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.explore-effect {
  content: "";
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  transition: height .5s, width .5s;
}
.explore:hover + .explore-effect {
  height: 15.625rem;
  width: 15.625rem;
}
@media (min-width:768px) {
  .Home__background {
    background-image: url('/assets/home/background-home-tablet.jpg');
  }
  .explore:hover + .explore-effect {
    height: 25rem;
    width: 25rem;
  }
}
@media (min-width:1280px) {
  .Home__background {
    background-image: url('/assets/home/background-home-desktop.jpg');
  }
}
